_site/*
*_cache/
*_files/

/.quarto/
.Rproj.user

/unbelievable/.quarto/
/prato/.quarto/

/_*.local

/.luarc.json
.vscode
packages.rds
*.kate-swp

**/*.quarto_ipynb
.history

# fetched fresh from robjhyndman/CV by fetch_bib.R on each build
/rjhpubs.bib
