/*-- scss:defaults --*/
$theme-main: #6fa0d8;
$theme-gray: #262a33;
$theme-yellow: #f4ba02;
$theme-orange: #f49b02;

$body-bg: #1b1e24;
$body-color: #dcdde0;
$link-color: $theme-main;
$primary: $theme-main;
$sidebar-bg: #14161b;
$sidebar-fg: #dcdde0;

$badge-neutral-bg: #3a3f4a;
$badge-neutral-fg: $theme-main;

$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: "Hack", monospace;

$h1-font-size: 1.6rem !default;
$h2-font-size: 1.4rem !default;
$h3-font-size: 1.2rem !default;

$code-block-bg: $theme-gray;

/*-- scss:rules --*/
@import "rjh-rules";
