/*-- scss:defaults --*/
$theme-main: #234460;
$theme-gray: #eeeeee;
$theme-yellow: #f4ba02;
$theme-orange: #f49b02;

$body-bg: lighten($theme-gray, 10%);
$body-color: darken($theme-gray, 70%);
$link-color: $theme-main;
$primary: $theme-main;
$sidebar-bg: $theme-main;
$sidebar-fg: lighten($theme-gray, 10%);

$badge-neutral-bg: darken($theme-gray, 10%);
$badge-neutral-fg: $theme-main;

$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: "Hack", monospace;

$h1-font-size: 1.6rem !default;
$h2-font-size: 1.4rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1rem !default;

$code-block-bg: $theme-gray;

/*-- scss:rules --*/
@import "rjh-rules";
