/* css styles */
/* =Typography
-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'hack_regular';
  src: url('https://robjhyndman.com/fonts/hack-regular.woff2?sha=3114f1256') format('woff2'),
       url('https://robjhyndman.com/fonts/hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: normal;
}

:root {
  --bs-font-sans-serif: 'Fira Sans', sans-serif;
  --bs-font-monospace: hack_regular, monospace;
}
body {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5em;
  background-color: #faf8f8;
}

form,
input[type="search"],
select[multiple="multiple"] {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', sans-serif;
  color: #36454f;
  font-weight: bold;
}

h1 {
  font-size: 1.6em;
  padding-bottom: 1em;
  line-height: 1.6em;
}

h2 {
  font-size: 1.4em;
  border-bottom: 1px solid #b3cde0;
}

h2 a {
  border-bottom: none;
}

h3 {
  font-size: 1.2em;
}

h6 {
  font-size: 0.8em;
}

a {
  color: #487191;
  text-decoration: none;
}

hr {
  border-top: 1px solid #b3cde0;
  margin-top: 5ex;
  margin-bottom: 5ex;
  max-width: 100%;
}

blockquote {
  background: #e9e9e9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: normal;
  font-size: 95%;
}

blockquote p {
  color: #36454f;
  display: inline;
}

blockquote:before {
  color: #aaa;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.table {
  --bs-table-bg: @faf8f8  !important;
}

td,
th {
  background-color: #faf8f8 !important;
}

table th,
table td {
  border-bottom: 0px !important;
  padding: 0.2em .2em;
}

ul {
  list-style: square;
}

dd {
  margin-left: 2em;
}

/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: hack_regular,  monospace !important;
  font-variant-ligatures: normal !important;
}

nav,
.footer {
  font-family: 'Fira Sans', sans-serif;
  font-size: 100%;
}

a.nav-link:hover,
a.navbar-brand:hover {
  color: #fff !important;
}

/* Badges */

a.badge.badge-red {
  color: #fff;
}

a.badge.badge-blue {
  color: #fff;
}

a.badge.badge-green {
  color: #fff;
}

.badge-large {
  font-size: 18px !important;
  text-transform: none !important;
  padding: 5px 5px 3px 5px;
  text-transform: none;
  font-family: 'Fira Sans', sans-serif;
}

.badge {
  font-family: 'Fira Sans', sans-serif;
}

.label,
.badge {
  background: #e0e3e5;
  font-size: 12.75px;
  display: inline-block;
  line-height: 1;
  padding: 4px 7px 3px 7px;
  color: #0f0f0f;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.label-outline {
  background: none;
  border: 1px solid #0f0f0f;
  padding: 3px 6px 2px 6px;
}

.badge {
  border-radius: 15px;
  opacity: .75;
}

.badge-small {
  font-size: 11.25px;
  padding: 5px 5px 3px 5px;
}

.badge:hover {
  opacity: 1;
}

.label-black,
.label-blue,
.label-red,
.label-green,
.badge-black,
.badge-blue,
.badge-red,
.badge-green {
  color: #ffffff !important;
}

.label-black,
.badge-black {
  background: #0f0f0f;
}

.label-blue,
.badge-blue {
  background: #4673B8;
}

.label-red,
.badge-red {
  background: #BD666D;
}

.label-green,
.badge-green {
  background: #2c9f42;
}

.label-yellow,
.badge-yellow {
  background: #ffc800;
}

.label-white,
.badge-white {
  background: #ffffff;
}

.label-grey,
.badge-grey {
  background: #cccccc;
}

.image-left {
  float: left;
  margin: 0 1em 1em 0;
}

.fa-ul > li {
  margin: 0.5em;
}

.quarto-title-meta {
  font-family: 'Fira Sans', sans-serif;
  background-color: #ddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.quarto-title-meta-heading {
  margin: 1ex 1ex 0 1ex !important;
}

.quarto-title-meta-contents {
  margin: 0ex 1ex 1ex 1ex !important;
}

.video-player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.figure-caption {
  color: var(--darkgray);
  background-color: var(--lightgray);
  padding-left: 20px;
  font-size: 12pt;
  font-family: 'Fira Sans', sans-serif;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  background-color: #234460;
  color: #ebebeb;
}

.badge-grey:hover, .quarto-category:hover,
.listing-category:hover {
  background-color: #234460;
  color: #ebebeb !important;
  opacity: .6;
}

.badge-grey:hover a {
  color: #ebebeb !important;
}

.badge-grey a {
  border-bottom: 0 !important;
}

.quarto-category,
.quarto-listing-category,
.listing-category,
.listing-actions-group,
.about-link-text {
  font-family: "Fira Sans", sans-serif;
}

#quarto-margin-sidebar .category-default {
  font-size: 10pt;
}
#quarto-margin-sidebar .category:hover {
  color: #0d6efd;
}
.sidebar nav[role=doc-toc]>ul a:hover {
  color: #0d6efd;
}

.quarto-categories,
.quarto-category,
.listing-category {
  line-height: 1.8em !important;
  padding: 1px 5px 0 5px;
  margin-left: -5px;
  margin-right: 5px;
}

div.quarto-post .metadata {
  font-size: .9em;
}
div.quarto-post .listing-categories .listing-category {
  background: #e9e9e9;
  color: #234460;
  text-align: center;
  border-radius: 15px;
  font-size: 11.25px;
  padding: 1px 5px 0 5px;
  border: none;
  margin-left: -5px;
  margin-right: 9px;
}

div.quarto-post .listing-categories:hover .listing-category:hover {
  background-color: #234460;
  color: #faf8f8 !important;
  opacity: .6;
}
#mlb2-4240669.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody,
#mlb2-4240669.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
  padding: 0px !important;
}


.imgrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

/* Create four equal columns that sits next to each other */
.imgcolumn {
  flex: 25%;
  max-width: 25%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.imgcolumn img {
  margin-top: 0px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .imgcolumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .imgcolumn {
    flex: 100%;
    max-width: 100%;
  }
}

.list li {
  margin: 10px 0;
}
